@{
  Layout = "Shared/_Layout";
}

<div class = "container text-center">
  <h1 class="landing-header">&#128293 Your To Do List! &#128169</h1>
  @* <p><a href='/tasks/new'>Add a new task</a></p> *@
  <p><a href = '/category'>View Categories</a></p>
  <p><a href = '/category/new'>Add new category</a></p>
</div>
