@{
  Layout="Shared/_Layout";
}

<div class="container text-center">
  <h1 class="landing-header">&#128293 To Do List &#128169</h1>
  <p>Congrats comrade, your item was added to your list.</p>
  <p class="todolist">@Model.GetDescription()</p>
  <p><a href="/tasks/new">Add another task</a></p>
  <p><a href="/tasks">View all tasks</a></p>
</div>
