@{
  Layout="Shared/_Layout";
}

<div class="container">
  <h1>ToDo List</h1>
  <p>Congrats, motherfucker. Your item was added to your list.</p>
  <ul>
    <li>@Model.GetDescription()</li>
  </ul>
  <p><a href="/">Add another task</a></p>
  <p><a href="/todo_all_tasks">View all tasks</a></p>
</div>
