@{
  Layout="Shared/_Layout";
}

<div class="container text-center">
  <h1 id="landing-header">&#128293 To Do List &#128169</h1>
  <form action="/todo_confirmation" method="post" id='input-task'>
    <label for="new-task">Add a new task</label>
    <input id="new-task" class="form-control" name="new-task" type="text">
    <button type="submit" class="btn btn-info" id="add-task-btn">Submit</button>
  </form>
</div>
