@{
  Layout="Shared/_Layout";
}

<div class="container text-center">
  <h1>&#128293 Your To Do List! &#128169</h1>
  @foreach(var task in Model)
  {
    <p class="todolist">@task</p>
  }
  <p><a href="/">Add another task</a></p>
  <form action="/tasks_cleared" method="post">
    <button type="submit" class="btn btn-info">Clear all tasks</button>
  </form>
</div>
