@{
  Layout="Shared/_Layout";
}

<div class="container">
  <p>Your ToDo List!</p>
  <ul>
    @foreach(var task in Model)
    {
      <li>@Model.task</li>
    }
  </ul>
  <p><a href="/">Add another task</a></p>
  <form action="/todo_form">
    <button type="submit" class="btn btn-info">Clear all tasks</button>
  </form>
</div>
