#input-task {
  margin: 0 auto;
  width: 50%;
}
#add-task-btn {
  margin-top: 30px;
}
#landing-header {
  margin-bottom: 30px;
}
.todolist {
  width: 15%;
  /*background-color: #87cefa;*/
  margin: 0 auto;
  text-align: center;
  /*list-style: none;*/
}
